
h2 {
    color: #661b1b;
    font-weight: normal;
    font-size: 35px;
    font-family: Arial;
    text-transform: uppercase;
}

h1 {
    color: #664e1b;
    font-weight: normal;
    font-size: 35px;
    font-family: Arial;
    text-transform: uppercase;
}

body {
    background-color: rgb(129, 127, 255);
}